<footer class="footer text-muted">
  {{ if .Site.Params.sponsors }}
    <section class="section section-sm container-fluid">
      <div class="row justify-content-center text-center">
        {{ range .Site.Params.sponsors }}
          {{ $sponsor := .}}
            <div class="col-lg-5 text-center">
              <a href="{{ .link }}"><img class="sponsor" src="{{ .logo }}" alt="{{ .name }}"></a>
            </div>
        {{ end }}
      </div>
    </section>
  {{ end }}
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
    <div class="row justify-content-center text-center">
      <!--<div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div> 
      <div class="col-lg-5 order-first order-lg-last text-lg-end"> -->
      <div class="col-lg-5 text-center">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
    </div>
  </div>
</footer>
