  {{ with .Params.landing }}
    {{ $landing := . }}
      <section class="section container-fluid mt-n3 pb-3">
        <div class="row justify-content-center">
          {{ with .image }}
            {{ $image := . }}
            <div class="col-lg-{{ .colwidth | default 3 }} text-{{ .align | default "center" }}">
              <img src="{{ .src }}" alt="{{ .alt }}"><br><br>
            </div>
          {{ end }}
          {{ with .title }}
            {{ $title := . }}
            <div class="col-lg-{{ .colwidth | default 9 }} text-{{ .align | default "center" }}">
            <h1 class="mt-0">{{ .text }}</h1>
          </div>
          {{ end }}
          {{ with .body }}
            {{ $body := . }}
              <div class="col-lg-{{ .colwidth | default 12 }} col-xl-{{ .colwidth | default 12 }} text-{{ .align | default "center" }}">
                <p class="lead">
                  {{ .description | markdownify }}
                </p>
                {{ with .buttons }}
                  {{ range . }}
                    {{ $button := . }}
                      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ .link }}" role="button">
                        {{ .text }}
                      </a>
                  {{ end }}
                {{ end }}
          {{ end }}
          </div>
        </div>
      </section>
  {{ end }}
