{{ with .Params.landing }}
{{ $landing := . }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="container">
    <div class="row justify-content-center">
    {{ with .image }}
    {{ $image := . }}
      <div class="col-lg-{{ .width | default 12 }} col-xl-{{ .width | default 12 }} text-{{ .align | default "center" }}">
        <img src="{{ .src }}" alt="{{ .alt }}"><br><br>
      </div>
    {{ end }}
    {{ with .title }}
    {{ $title := . }}
      <div class="col-lg-{{ .width | default 12 }} col-xl-{{ .width | default 12 }} text-{{ .align | default "center" }}">
        <h1 class="mt-0">{{ .text }}</h1>
      </div>
    {{ end }}
    {{ with .body }}
    {{ $body := . }}
      <div class="col-lg-{{ .width | default 12 }} col-xl-{{ .width | default 12 }} text-{{ .align | default "center" }}">
        <p class="lead">
          {{ .description | markdownify }}
        </p>
      </div>
    {{ end }}
    {{ with .buttons }}
    {{ $buttons := . }}
    <div class="col-lg-{{ .buttonblockwidth | default 12 }} col-xl-{{ .buttonblockwidth | default 12 }} text-{{ .buttonblockalign | default "center" }}">
      {{ range .links }}
      {{ $link := . }}
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ .url }}" role="button">
        {{ .text }}
      </a>&nbsp;
      {{ end }}
      </div>
    {{ end }}
    </div>
  </div>
</section>
{{ end }}
