{{ with .Params.sections }}
  {{ range . }}
  {{ $section := . }}
    <section class="section section-sm">
      <div class="container">
        <div class="row justify-content-center">
          {{ with .body }}
          {{ $body := . }}
            <div class="col-lg-{{ .width | default 12 }} col-xl-{{ .width | default 12 }} text-{{ .align | default "center" }}">
              <h2 class="h2">{{ .title }}</h2>
              <p>{{ .description | markdownify }}</p>
            </div>
          {{ end }}
          {{ with .cards }}
            {{ range . }} 
            {{ $card := . }}
              <div class="col-lg-{{ $section.width | default 6 }} col-xl-{{ $section.width | default 6 }} text-{{ $section.align | default "center" }}">
                {{ if .url }}<a href="{{ .url }}" target="{{ if in .url "http" }}_blank{{ else }}_self{{ end }}">{{ end }}
                  <h2 class="h4">{{ .subtitle }}</h2>
                {{ if .url }}</a>{{ end }}
                {{ with .image }}
                {{ $image := . }}
                  {{ if $card.url }}
                    <a href="{{ $card.url }}" target="{{ if in $card.url "http" }}_blank{{ else }}_self{{ end }}">
                  {{ end }}
                    <img src="{{ .src }}" alt="{{ .alt }}"{{ if eq .style "round" }} style="border-radius: 50%"{{ end }}><br><br>
                  {{ if $card.url }}
                    </a>
                  {{ end }}
                {{ end }}
                  <p>{{ .description | markdownify }}</p>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
