  {{ with .Params.sections }}
    {{ range . }}
      {{ $section := . }}
      <section class="section section-sm">
        <div class="container">
          <div class="row justify-content-center">
            {{ if eq .type "card" }}
              {{ with .body }}
              {{ $body := . }}
                <div class="col-lg-12 text-{{ $section.align | default "center" }}">
                  <h2 class="h2">{{ .title }}</h2>
                  <p>{{ .description | markdownify }}</p>
                </div>
              {{ end }}
              {{ with .cards }}
                {{ range . }} 
                  {{ $card := . }}
                    <div class="col-lg-{{ $section.width | default 5 }} text-{{ $section.align | default "center" }}">
                      <h2 class="h4">{{ .subtitle }}</h2>
                      <p>{{ .description | markdownify }}</p>
                    </div>
                {{ end }}
              {{ end }}
            {{ else if eq .type "normal" }}
              {{ with .body }}
                <div class="col-lg-12  text-{{ $section.align | default "center" }}">
                  {{ $body := . }}
                    <h2 class="h2">{{ .title }}</h2>
                    <p>{{ .description | markdownify }}</p>
                </div>
              {{ end }}
            {{ else }}
              {{ printf "%#v" "Not supported type" }}
            {{ end }}
          </div>
        </div>
      </section>
    {{ end }}
  {{ end }}
